### THE FOUR PYTHON DATA STRUCTURES

Name the four built-in data structures in python. Give one examples for each

 ##### ANSWER

- `List`: [1,2,3,45,6,7]

- `Dictionary`: {"Student_1": "Aaron", 
               "Student_2":"Eddy",   
               "Student_3":"Keith",
               "Student_4":"Joshua"}


- `Sets`:{2,4,5,9,0}


- `Tuples`:(1,3,5,7,8)

### Q2

State two differences between a list and a tuple in Python.

##### ANSWER
- i. List are ordered and mutable whilst Tuples are ordered but immutable.

- ii. Tuples are more memory efficient than lists

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [70]:
# Print the first two animals
animal_list=["Dog","Cat","Seahorse","Lion","Tiger"]

# Print the last two animals
print(animal_list[:2])
print(animal_list[-2:])

# Add three extra animals to the list
animal_list.extend(["rat","mouse","horse"])
print(animal_list)

# Remove the first two animals from the variable animal_list
animal_list.remove("Dog")
animal_list.remove("Cat")
print(animal_list)

#How many animals in the list?
print(len(animal_list))

animal_set = set(animal_list)

print(animal_set)

print(len(animal_set))

['Dog', 'Cat']
['Lion', 'Tiger']
['Dog', 'Cat', 'Seahorse', 'Lion', 'Tiger', 'rat', 'mouse', 'horse']
['Seahorse', 'Lion', 'Tiger', 'rat', 'mouse', 'horse']
6
{'Tiger', 'horse', 'mouse', 'Seahorse', 'rat', 'Lion'}
6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.


c. Create a list called last made up only of the last two items from suitcase.



 ## a.
 ###### Create a list containing only the 1st 2 values from suitcase called `first`
 `suitcase` = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
- `first` = suitcase[:2]
- `first`= `suitcase["sunglasses","hat"]`

In [11]:
# Create a list containing only the 1st 2 values from suitcase called first

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
first = suitcase[:2]
print(f" first is equal to = suitcase{first}")

 first is equal to = suitcase['sunglasses', 'hat']


 ## b.
 
###### Create a sublist from suitcase containing values from index 2 to 4 and assign to variable `middle`
 `suitcase` = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
- `middle` = suitcase[2:4]
- `middle`= `suitcase`["passport", "laptop"]

## c.

##### Use reverse indexing to obtain the last 2 values and assign to variable : `last` 
 `suitcase` = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
- `last` = suitcase[-2:]
- `last`= `suitcase`["suit","shoes"]

In [14]:
middle = suitcase[:2]
print(f" B. middle is equal to = suitcase{middle}")

# Use reverse indexing to the last two values and assign to variable 'last'
last = suitcase[-2:]
print(f" C. last is equal to = suitcase{last}")

 B. middle is equal to = suitcase['sunglasses', 'hat']
 C. last is equal to = suitcase['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

#### List

`values` = [20,25,30,40,45,50,55,60,65,70]

- `values`.insert(index,value)

- `values`.insert(3,35)

- `values` = [20,25,30,40,45,50,55,60,65,70]

###### Raw code below

In [28]:
print(f" values = {values}")
values.insert(3,35)

print(f" values = {values}")

 values = [20, 25, 30, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 40, 45, 50, 55, 60, 65, 70]
 values = [20, 25, 30, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

Ans : When you want to use an data structure that is ordered but has immutable values

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

##### Q7 Answer : Dictionaries

`region_capital` : {"Greater Accra":"Accra","Central":"Cape-Coast","Volta":"Ho","Western":"Takoradi","Ashanti":"Kumasi"}
- `dict.keys` : shows the keys inside a dictionary
- `dict.values` : shows the values within a dictionary
    
 ##### Raw Code below

In [92]:
region_capital={"Greater Accra":"Accra","Central":"Cape-Coast","Volta":"Ho","Western":"Takoradi","Ashanti":"Kumasi"}

print(region_capital.keys())
print(region_capital.values())

dict_keys(['Greater Accra', 'Central', 'Volta', 'Western', 'Ashanti'])
dict_values(['Accra', 'Cape-Coast', 'Ho', 'Takoradi', 'Kumasi'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

##### Q8 Steps

- import mode from statistics package
- assign numbers to values
- use the mode function to determine the highest occuring number. There are three but it will pick the lowest value, which is three
- use the len function to determine the number of elements in the values_set variable.

In [83]:
values=[3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]
print(len(values))
values_set = set(values)
print(values_set)
len(values_set)
values=sorted(values)
print(sorted(values))
from statistics import mode

print(mode(values))

15
{1, 2, 3, 4, 5, 6}
[1, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6]
3

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [105]:
for k,v in values;
   a

values = [2,3,4,5,6,7,8,9,10,11,12,13,14]

13

In [110]:
myDict = {x: x**2 for x in [2,3,4,5,6,7,8,9,10,11,12,13,14]}

myDict

{2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

 #### Q 10:  Steps
 - put keys in a list an assign it to variable `keys`
 - use the range function to create sublists for the various values and assign to `values` variable
 - using the zip function and for loop
 - using dictionary comprehension assign the keys to their respective values
 - dictionary comprehension is similar to k[v] = "value" but is more convenient.
 - indexing starts from zero so assign index four within list in the dictionary to the fifth variable. 
 -  There are other ways but this was the quickest for me.

In [33]:
keys = ['x','y','z']
values =[list(range(11,21)),list(range(21,31)),list(range(31,41))]
u =list(range(11,21))
v =list(range(21,31))
w = list(range(31,41))

test = { k:v for (k,v) in zip(keys, values)}
print(test)

fifth = {1}

#for v in myDict.values():
 #   if ()
  #  print(fifth)
    
fifth=(test["x"][4], test["y"][4], test["z"][4])
print(f"fifth is equal to:{fifth}")

{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30], 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]}
fifth is equal to:(15, 25, 35)

In [29]:
test.items()

dict_items([(11, 11), (12, 12), (13, 13), (14, 14), (15, 15), (16, 16), (17, 17), (18, 18), (19, 19)])