### Q1
List the basic data types in python and give one example each.

##### Examples
- String : "Aaron"
- Integer : 4
- Float: 1.40
- Boolean : False

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

##### ANSWER

###### use casting first

- x= 4539.85
- y = str(`x`)
- z = int(`y`)

##### print values
- print(`x`)
- print(`y`)

##### check data type
- print(type(`x`)
- print(type(`z`)

In [7]:
x= 4539.85
y = str(x)
z = int(x)

print(f" x : {y}")
print(f" z:  {z}")


print(type(y)); print(type(z))

 x : 4539.85
 z:  4539
<class 'str'>
<class 'int'>

### Q3

What data type would you use to store

a. The price of car?: `Float`

b. The age of a person: `Integer`

c. car plate number: plateNumber = "AV01-AFP"? : `String`

d. The price of fuel : `Float`

e. The number of students in the class : `Int`

f. The weight of a person : `Float`

g. Check whether two figures are equal :`Boolean`

i. The name of a  school : `String`

j. The average result of the overall score of a student : `Float`

k. The total number of vote cast : `Integer`

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [15]:
A = "Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team"
B = A.split(".")
#print(B)
statement_1 = B[0]
statement_2 = B[1]
print(statement_1 )
print(statement_2)

print(len(statement_1))
print(len(statement_2))

len(statement_1)> len(statement_2)

Thomas Partey is arguably the best player in the Black Stars
 He is a great addition to the team
60
35

True

### Q5
What values does python use to represent **True** and **False** respectively?

- `True` :1
- `False`:0

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.



2. 8-2 is an even number or 8 is  an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [16]:
(78 > 46) & ( 78 < 30) &  (30%2)== 1

False

In [21]:
 A = 8-2
(A%2 == 0)|(8%2==1)

True

b= 'boostrap'
s= 'sample'

len(b) ==7 & len(s) == 6

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [23]:
word='Hello, How are you?'

In [24]:
print("How :"+ str(word[7:10]))
print(word[7:18])
print(word[11:14])
print(word[18:])
# print(word[-1])
print(word[:-1])

How :How
How are you
are
?
Hello, How are you

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

##### Q8 ANSWER.

- `sentence` = "I am very excited"
- UPPER CASE: {sentence.upper()}")
- lower case: {sentence.lower()}")
- title : {sentence.title()}")
- sentence.capitalize())

- split sentence:(sentence.split(" ")

In [20]:
sentence = "I am very excited"
print(f" UPPER CASE: {sentence.upper()}")
print(f" lower case: {sentence.lower()}")
print(f" title : {sentence.title()}")
print(sentence.capitalize())

print("split sentence: " + str(sentence.split(" ")))

 UPPER CASE: I AM VERY EXCITED
 lower case: i am very excited
 title : I Am Very Excited
I am very excited
split sentence: ['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

##### Q9 ANSWER

`word` = 'OneThirtyEight'
- One : print (word[:-11])
- Thirty : print(word[-11:-5])
- Eight:  print(word [-5:])
- OneThirty : print(word [-14:-5])
- ThirtyEight:  print(word [3:14])
- ONETHIRTYEIGHT :print(word [:14].upper())
###### OR
- print(word.upper())

In [75]:
`word` = 'OneThirtyEight'
print (word[:-11])
print(word[-11:-5])
print(word[-5:])
print(word[-14:-5])
print(word[3:14])
print(word[:14].upper())
print(word.upper())

One
Thirty
Eight
OneThirty
ThirtyEight
ONETHIRTYEIGHT
ONETHIRTYEIGHT

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

##### Use double quotes so that singlequotes don't obstruct your code

In [76]:
name = "Ault'Kelly"
name

"Ault'Kelly"