In [1]:
import pandas as pd
import re

data_eng=pd.read_csv("C:/Users/ACER/Desktop/blossom data/DataEngineer.csv")
FIFA=pd.read_csv("C:/Users/ACER/Desktop/blossom data/FIFA-2019.csv")

In [2]:
data_eng.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,Data Engineer,$80K-$150K (Glassdoor est.),Company Description\nSagence is a management a...,4.5,Sagence\n4.5,"New York, NY","Chicago, IL",1 to 50 employees,2009,Company - Private,Consulting,Business Services,$10 to $25 million (USD),"WCI Consulting, PwC",-1
1,Senior Data Engineer (Healthcare Domain experi...,$80K-$150K (Glassdoor est.),"Key Responsibilities\n\n- Architect, build, an...",3.4,Enterprise Integration\n3.4,"New York, NY","Jacksonville, FL",51 to 200 employees,1998,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),-1,-1
2,Data Engineers,$80K-$150K (Glassdoor est.),Overview\n\nJob description\n\nPosition Overvi...,5.0,Maestro Technologies\n5.0,"New York, NY","Trenton, NJ",51 to 200 employees,2003,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),-1,-1
3,Client Trade Support Engineer,$80K-$150K (Glassdoor est.),About the Position\n\n\nThis position will sup...,4.8,Jane Street\n4.8,"New York, NY","New York, NY",501 to 1000 employees,2000,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1
4,Data Engineer,$80K-$150K (Glassdoor est.),Data Engineer\n\nJob Details\nLevel\nExperienc...,3.7,GNY Insurance Companies\n3.7,"New York, NY","New York, NY",201 to 500 employees,1914,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),"Travelers, Chubb, Crum & Forster",True

In [3]:
data_eng.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2528 entries, 0 to 2527
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          2528 non-null   object
 1   Salary Estimate    2528 non-null   object
 2   Job Description    2528 non-null   object
 3   Rating             2528 non-null   float64
 4   Company Name       2528 non-null   object
 5   Location           2528 non-null   object
 6   Headquarters       2528 non-null   object
 7   Size               2528 non-null   object
 8   Founded            2528 non-null   int64
 9   Type of ownership  2528 non-null   object
 10  Industry           2528 non-null   object
 11  Sector             2528 non-null   object
 12  Revenue            2528 non-null   object
 13  Competitors        2528 non-null   object
 14  Easy Apply         2528 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 296.4+ KB

In [4]:
data_eng["Sector"].value_counts()

Information Technology                890
Business Services                     416
-1                                    375
Finance                               177
Aerospace & Defense                    94
Manufacturing                          93
Insurance                              82
Media                                  52
Health Care                            51
Oil, Gas, Energy & Utilities           37
Retail                                 36
Biotech & Pharmaceuticals              35
Telecommunications                     32
Education                              28
Accounting & Legal                     27
Government                             24
Transportation & Logistics             24
Real Estate                            16
Consumer Services                      13
Restaurants, Bars & Food Services       7
Construction, Repair & Maintenance      7
Arts, Entertainment & Recreation        5
Travel & Tourism                        4
Non-Profit                              2
Agriculture & Forestry                  1
Name: Sector, dtype: int64

In [4]:
sector=data_eng["Sector"].str.replace("-1","NA").astype('category')

In [5]:
sector.nunique()

25

In [6]:
sector.dtype

CategoricalDtype(categories=['Accounting & Legal', 'Aerospace & Defense',
                  'Agriculture & Forestry', 'Arts, Entertainment & Recreation',
                  'Biotech & Pharmaceuticals', 'Business Services',
                  'Construction, Repair & Maintenance', 'Consumer Services',
                  'Education', 'Finance', 'Government', 'Health Care',
                  'Information Technology', 'Insurance', 'Manufacturing',
                  'Media', 'NA', 'Non-Profit', 'Oil, Gas, Energy & Utilities',
                  'Real Estate', 'Restaurants, Bars & Food Services', 'Retail',
                  'Telecommunications', 'Transportation & Logistics',
                  'Travel & Tourism'],
, ordered=False)

In [7]:
sector.info()

<class 'pandas.core.series.Series'>
RangeIndex: 2528 entries, 0 to 2527
Series name: Sector
Non-Null Count  Dtype
--------------  -----
2528 non-null   category
dtypes: category(1)
memory usage: 3.3 KB

In [8]:
data_eng["Size"].value_counts()

10000+ employees           557
51 to 200 employees        389
1001 to 5000 employees     385
1 to 50 employees          363
201 to 500 employees       272
501 to 1000 employees      247
5001 to 10000 employees    133
-1                         119
Unknown                     63
Name: Size, dtype: int64

In [9]:
data_eng["Size"].nunique()

9

In [10]:
data_eng["Size"].str.replace("-1","NA").astype('category')

0           1 to 50 employees
1         51 to 200 employees
2         51 to 200 employees
3       501 to 1000 employees
4        201 to 500 employees
                ...
2523        1 to 50 employees
2524      51 to 200 employees
2525    501 to 1000 employees
2526                  Unknown
2527    501 to 1000 employees
Name: Size, Length: 2528, dtype: category
Categories (9, object): ['1 to 50 employees', '10000+ employees', '1001 to 5000 employees', '201 to 500 employees', ..., '501 to 1000 employees', '51 to 200 employees', 'NA', 'Unknown']

In [11]:
competition=data_eng["Competitors"].str.replace("-1","N/A")

In [12]:
revenue=data_eng["Revenue"].str.replace("Unknown / Non-Applicable", "0").str.replace("-1","0")

In [13]:
revenue.value_counts()

0                                   833
$10+ billion (USD)                  393
$100 to $500 million (USD)          274
$50 to $100 million (USD)           150
$2 to $5 billion (USD)              135
$10 to $25 million (USD)            131
$25 to $50 million (USD)            120
$1 to $5 million (USD)              104
$5 to $10 billion (USD)              98
Less than $1 million (USD)           82
$1 to $2 billion (USD)               77
$500 million to $1 billion (USD)     68
$5 to $10 million (USD)              63
Name: Revenue, dtype: int64

In [14]:
revenue.nunique()

13

In [15]:
revenue.astype('category')

0         $10 to $25 million (USD)
1         $25 to $50 million (USD)
2          $5 to $10 million (USD)
3                                0
4       $100 to $500 million (USD)
                   ...
2523        $1 to $5 million (USD)
2524       $5 to $10 million (USD)
2525    $100 to $500 million (USD)
2526                             0
2527      $25 to $50 million (USD)
Name: Revenue, Length: 2528, dtype: category
Categories (13, object): ['$1 to $2 billion (USD)', '$1 to $5 million (USD)', '$10 to $25 million (USD)', '$10+ billion (USD)', ..., '$50 to $100 million (USD)', '$500 million to $1 billion (USD)', '0', 'Less than $1 million (USD)']

In [17]:
revenue.value_counts()

0                                   833
$10+ billion (USD)                  393
$100 to $500 million (USD)          274
$50 to $100 million (USD)           150
$2 to $5 billion (USD)              135
$10 to $25 million (USD)            131
$25 to $50 million (USD)            120
$1 to $5 million (USD)              104
$5 to $10 billion (USD)              98
Less than $1 million (USD)           82
$1 to $2 billion (USD)               77
$500 million to $1 billion (USD)     68
$5 to $10 million (USD)              63
Name: Revenue, dtype: int64

In [18]:
data_eng["Founded"].value_counts()

-1       571
 2000     78
 2002     78
 1999     74
 2001     67
        ...
 1925      1
 1943      1
 1887      1
 1874      1
 1912      1
Name: Founded, Length: 137, dtype: int64

In [19]:
founded=data_eng["Founded"].replace(-1,0)

In [20]:
founded.value_counts()

0       571
2000     78
2002     78
1999     74
2001     67
       ...
1925      1
1943      1
1887      1
1874      1
1912      1
Name: Founded, Length: 137, dtype: int64

In [21]:
data_eng["Easy Apply"].value_counts()

-1      2382
True     146
Name: Easy Apply, dtype: int64

In [22]:
easy_apply=data_eng["Easy Apply"].str.replace("-1", "False").astype('category')

In [23]:
easy_apply.dtype

CategoricalDtype(categories=['False', 'True'], ordered=False)

In [24]:
data_eng["Location"].value_counts()

Houston, TX             199
Austin, TX              199
San Diego, CA           195
Chicago, IL             192
San Antonio, TX         190
                       ...
Horsham, PA               1
Collegeville, PA          1
Fort Sam Houston, TX      1
La Jolla, CA              1
Southlake, TX             1
Name: Location, Length: 113, dtype: int64

In [25]:
headquarters=data_eng["Headquarters"].str.replace("-1", "NA").astype('object')

In [26]:
headquarters.value_counts(pd.set_option("display.max_rows", None))

New York, NY                           178
NA                                     124
Chicago, IL                            108
San Diego, CA                          103
Houston, TX                             64
Austin, TX                              62
San Francisco, CA                       49
Santa Clara, CA                         47
San Antonio, TX                         46
Seattle, WA                             46
Los Angeles, CA                         43
Philadelphia, PA                        41
San Jose, CA                            39
Irving, TX                              37
Jacksonville, FL                        37
Atlanta, GA                             35
Irvine, CA                              31
Fort Worth, TX                          31
Reston, VA                              28
Tokyo, Japan                            28
Princeton, NJ                           28
Sunnyvale, CA                           25
Dallas, TX                              24
Mountain View, CA                       24
Scottsdale, AZ                          22
Mc Lean, VA                             22
Phoenix, AZ                             22
Palo Alto, CA                           21
Menlo Park, CA                          19
Bethesda, MD                            19
Washington, DC                          19
Chandler, AZ                            18
Cupertino, CA                           18
Redwood City, CA                        17
Alpharetta, GA                          17
Milwaukee, WI                           17
Plano, TX                               16
Louisville, KY                          16
Santa Monica, CA                        15
Minneapolis, MN                         14
London, United Kingdom                  14
Pleasanton, CA                          13
Chennai, India                          13
Herndon, VA                             13
Fremont, CA                             13
Ashburn, VA                             12
Northbrook, IL                          12
Boston, MA                              12
Providence, RI                          12
Edison, NJ                              12
Tampa, FL                               12
North Hollywood, CA                     12
Somerset, NJ                            10
Overland Park, KS                       10
Glendale, CA                             9
Veldhoven, Netherlands                   9
Bengaluru, India                         8
San Mateo, CA                            8
Pasadena, CA                             7
Plainsboro, NJ                           7
Farmington Hills, MI                     7
Newark, CA                               7
Schaumburg, IL                           7
Hanover, MD                              7
Piscataway, NJ                           7
El Segundo, CA                           7
Saint Louis, MO                          6
Charlotte, NC                            6
Raleigh, NC                              6
Troy, MI                                 6
Hyderabad, India                         6
Chantilly, VA                            6
Princeton Junction, NJ                   6
Burbank, CA                              6
Glen Allen, VA                           6
Stamford, CT                             6
Hartford, CT                             6
Dublin, Ireland                          6
Arlington, VA                            6
Culver City, CA                          6
Naperville, IL                           5
Detroit, MI                              5
Wilmington, DE                           5
Falls Church, VA                         5
Fort Lauderdale, FL                      5
Iselin, NJ                               5
Memphis, TN                              5
Noida, India                             5
Stockholm, Sweden                        5
Milpitas, CA                             5
Mumbai, India                            5
Dettenheim, Germany                      5
Kansas City, MO                          5
Armonk, NY                               5
Paris, France                            5
Tempe, AZ                                5
Fairfax, VA                              4
Columbia, MD                             4
Lisle, IL                                4
Northville, MI                           4
Warren, MI                               4
Pittsburgh, PA                           4
Basking Ridge, NJ                        4
Milan, IL                                4
La Jolla, CA                             4
Madison, WI                              4
Beavercreek, OH                          4
Sugar Land, TX                           4
South Plainfield, NJ                     4
Singapore, Singapore                     4
Sterling, VA                             4
Rockville, MD                            4
Oakland, CA                              4
Richardson, TX                           4
Charleston, SC                           4
Purchase, NY                             3
Alexandria, VA                           3
Addison, TX                              3
Nokia, Finland                           3
Victor, NY                               3
Woodland Hills, CA                       3
Teaneck, NJ                              3
McLean, VA                               3
Eden Prairie, MN                         3
Venice, CA                               3
Brentford, United Kingdom                3
Rosemont, IL                             3
Trenton, NJ                              3
Eindhoven, Netherlands                   3
Stavanger, Norway                        3
Bridgewater, NJ                          3
Columbus, OH                             3
Blue Bell, PA                            3
Canton, MI                               3
Berkeley, CA                             3
Frankfurt am Main, Germany               3
Los Gatos, CA                            3
Tysons, VA                               3
Coral Springs, FL                        3
Bishnupur , India                        3
Hà Nội, Vietnam                          3
San Ramon, CA                            3
Argyle, TX                               3
Fort Lee, NJ                             3
Smyrna, GA                               3
Montreal, Canada                         3
Grapevine, TX                            3
Stafford, VA                             3
Grand Junction, CO                       3
Short Hills, NJ                          2
Bulverde, TX                             2
Kirkland, WA                             2
Cambridge, United Kingdom                2
Rochester, MN                            2
Claremont, NH                            2
Lincolnshire, IL                         2
Coppell, TX                              2
Altamonte Springs, FL                    2
Lombard, IL                              2
Carlsbad, CA                             2
King of Prussia, PA                      2
Bedford, MA                              2
Wayne, PA                                2
Vienna, VA                               2
Plantation, FL                           2
Cumming, GA                              2
Framingham, MA                           2
Natick, MA                               2
Brooklyn, NY                             2
Minnetonka, MN                           2
Philadelphia, PA (US), PA                2
Carpinteria, CA                          2
West Chester, OH                         2
Wyomissing, PA                           2
Billerica, MA                            2
Moorestown, NJ                           2
Southfield, MI                           2
Langhorne, PA                            2
Chevy Chase, MD                          2
BENGALURU, India                         2
Allegan, MI                              2
Bangalore, India                         2
Bellevue, WA                             2
Mount Pleasant, SC                       2
Chadds Ford, PA                          2
Cherry Hill, NJ                          2
Newark, DE                               2
Carmel, IN                               2
Des Moines, IA                           2
Millersville, MD                         2
Cranbury, NJ                             2
Maryland Heights, MO                     2
Marlborough, MA                          2
South Windsor, CT                        2
Sydney, Australia                        2
Richmond, VA                             2
San Marcos, CA (US), CA                  2
Orlando, FL                              2
Newport, RI                              2
Langley, VA                              2
Calgary, Canada                          2
North Brunswick, NJ                      2
Amstelveen, Netherlands                  2
Honolulu, HI                             2
Boulder, CO                              2
Frisco, TX                               2
Berlin, Germany                          2
Roswell, GA                              2
Westlake Village, CA                     2
Hillsborough, NJ                         2
San Carlos, CA                           2
Las Vegas, NV                            2
Oak Brook, IL                            2
Lake Mary, FL                            2
Tacoma, WA                               2
Amsterdam, Netherlands                   2
Kennesaw, GA                             2
Riverwoods, IL                           2
Faridabad, India                         1
Springfield, VA                          1
Mesa, AZ                                 1
Milan, TN                                1
Bologna, Italy                           1
Wunnewil-Flamatt, Switzerland            1
Vancouver, Canada                        1
Danvers, MA                              1
Birkirkara, Malta                        1
Cranford, NJ                             1
Orem, UT                                 1
West Hollywood, CA                       1
Arlington, TX                            1
Marina del Rey, CA                       1
Cambridge, MA                            1
Boise, ID                                1
Gardanne, France                         1
Kapfenberg, Austria                      1
Plainfield, IL                           1
Campbell, CA                             1
Monett, MO                               1
Beijing, China                           1
Menomonee Falls, WI                      1
Thousand Oaks, CA                        1
New Orleans, LA                          1
New Brunswick, NJ                        1
Tucson, AZ                               1
Nanterre, France                         1
Garden Grove, CA                         1
Sayreville, NJ                           1
Brentwood, TN                            1
Camas, WA                                1
Waukee, IA                               1
Rock Island, IL                          1
Worthington, OH                          1
Foothill Ranch, CA                       1
Peachtree Corners, GA                    1
Salem, MA                                1
Millbrae, CA                             1
Commerce, CA                             1
Genoa, Italy                             1
Rock Hill, SC                            1
Latina, Italy                            1
Norwalk, CT                              1
Evanston, IL                             1
Wixom, MI                                1
Beltsville, MD                           1
Red Bank, NJ                             1
Melbourne, FL                            1
Chattanooga, TN                          1
Asheville, NC                            1
Lewisville, TX                           1
Jersey City, NJ                          1
East Windsor, NJ                         1
Pembroke Pines, FL                       1
Union, NJ                                1
Janesville, WI                           1
Walnut, CA                               1
Parkland, FL                             1
Norcross, GA                             1
Tallahassee, FL                          1
Weatherford, TX                          1
Hailey, ID                               1
Dublin, OH                               1
Alexandria, Egypt                        1
Leesburg, VA                             1
Wilmerding, PA                           1
Medley, FL                               1
New York, NY (US), NY                    1
Fairfield, IA                            1
Nashville, TN                            1
Sunrise, FL                              1
Westminster, CO                          1
Tifton, GA                               1
Kanpur Nagar, India                      1
Westborough, MA                          1
Arvada, CO                               1
Hilliard, OH                             1
Shrewsbury, NJ                           1
Zug, Switzerland                         1
Newark, NJ                               1
Pune, India                              1
Belmont, CA                              1
Cedar Falls, IA                          1
Woodbury, NY                             1
Brea, CA                                 1
Oslo, Norway                             1
Markham, Canada                          1
Old Greenwich, CT                        1
Holmdel, NJ                              1
Encino, CA                               1
Hong Kong, Hong Kong                     1
Costa Mesa, CA                           1
Aurora, Canada                           1
Norwood, MA                              1
Newcastle upon Tyne, United Kingdom      1
Yardley, PA                              1
SAO PAULO, Brazil                        1
Litchfield Park, AZ                      1
Saint Petersburg Beach, FL               1
Melville, NY                             1
Foster City, CA                          1
Secaucus, NJ                             1
Coconut Creek, FL                        1
Chesterfield, MO                         1
Shanghai, China                          1
Portland, OR                             1
Olathe, KS                               1
Long Beach, CA                           1
Newport Beach, CA                        1
Baltimore, MD                            1
La Garenne-Colombes, France              1
Malvern, PA                              1
Silver Spring, MD                        1
Chalfont, PA                             1
East Brunswick, NJ                       1
Broomall, PA                             1
CARQUEFOU, France                        1
Baton Rouge, LA                          1
Allentown, PA                            1
Pearland, TX                             1
Lexington, MA                            1
New Plymouth, ID                         1
Bloomfield Hills, MI                     1
Hasselt, Belgium                         1
Merion Station, PA                       1
Morristown, NJ                           1
West Berlin, NJ                          1
Des Plaines, IL                          1
Camden, NJ                               1
Bala Cynwyd, PA                          1
Downers Grove, IL                        1
Aurora, CO                               1
Lititz, PA                               1
Radnor, PA                               1
Munich, Germany                          1
Franklin Lakes, NJ                       1
Manvel, TX                               1
Cypress, TX                              1
Braintree, MA                            1
Dover, NJ                                1
Oak Ridge, TN                            1
Edmond, OK                               1
Cape Canaveral, FL                       1
Kings Langley, United Kingdom            1
Marseille, France                        1
Brampton, Canada                         1
Duluth, GA                               1
Merritt Island, FL                       1
Harrison, NJ                             1
Somerville, NJ                           1
Cary, NC                                 1
Leon, Mexico                             1
Upland, CA                               1
Zurich, Switzerland                      1
Braga, Portugal                          1
Aachen, Germany                          1
Helsinki, Finland                        1
Reno, NV                                 1
Amelia, OH                               1
Basel, Switzerland                       1
Saddle Brook, NJ                         1
Cleveland, OH                            1
Buffalo Grove, IL                        1
Prague, Czech Republic                   1
Bucharest, Romania                       1
Cork, Ireland                            1
Ottawa, Canada                           1
Newport News, VA                         1
Bannockburn, IL                          1
Denver, CO                               1
East Dubuque, IL                         1
Dublin, CA                               1
KIRKLAND, Canada                         1
Berwyn, PA                               1
Brookfield, WI                           1
Dover, DE                                1
Calcio, Italy                            1
Central, TX                              1
Weslaco, TX                              1
The Woodlands, TX                        1
Lansing, MI                              1
North Little Rock, AR                    1
BRASILIA, Brazil                         1
Bradenton, FL                            1
St Thomas, VI                            1
Courbevoie, France                       1
Catoosa, OK                              1
Dayton, OH                               1
Clackamas, OR                            1
Warwick, United Kingdom                  1
Denville, NJ                             1
Findlay, OH                              1
Bergen, Norway                           1
Andover, MA                              1
Mount Laurel, NJ                         1
Exton, PA                                1
Creve Coeur, MO                          1
Bangkok, Thailand                        1
Wilmington, NC                           1
New Hope, PA                             1
Harrisburg, PA                           1
Audubon, PA                              1
Northborough, MA                         1
Creamery, PA                             1
Oklahoma City, OK                        1
Warminster, PA                           1
Noida, UP                                1
SOWERBY BRIDGE, United Kingdom           1
Columbia, SC                             1
Westchester, IL                          1
Woodcliff Lake, NJ                       1
Pleasant Prairie, WI                     1
South Amboy, NJ                          1
Albuquerque, NM                          1
Long Marston, United Kingdom             1
Deerfield, IL                            1
Cincinnati, OH                           1
Name: Headquarters, dtype: int64

In [22]:
headquarters.dtype

dtype('O')

In [27]:
job_title=data_eng["Job Title"].str.replace("Sr. Data Engineer", "Senior Data Engineer").str.replace("Software Development Engineer", "Software Engineer").str.replace("Data Engineer II", "Data Engineer")

C:\Users\ACER\AppData\Local\Temp\ipykernel_20124\3215199191.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  job_title=data_eng["Job Title"].str.replace("Sr. Data Engineer", "Senior Data Engineer").str.replace("Software Development Engineer", "Software Engineer").str.replace("Data Engineer II", "Data Engineer")

In [28]:
job_title.dtype

dtype('O')

In [29]:
data_eng[["Min Salary", "Max Salary"]] = (data_eng["Salary Estimate"]
                    .str.replace("$","",regex = False)
                    .str.replace("K","",regex = False)
                    .str.replace("(Glassdoor est.)", "",regex=False)
                    .str.replace("(Employer est.)","",regex=False)
                    .str.split("-", expand=True)
                    .astype(float)
                    
                    
                 
)

In [30]:
data_eng[["company", "N"]]=(data_eng["Company Name"].str.split("\n", expand=True))

In [31]:
industry=data_eng["Industry"].str.replace("-1","NA")

In [32]:
industry.value_counts()

NA                                          378
IT Services                                 355
Computer Hardware & Software                244
Staffing & Outsourcing                      202
Internet                                    145
Enterprise Software & Network Solutions     143
Consulting                                   99
Aerospace & Defense                          94
Investment Banking & Asset Management        76
Insurance Carriers                           61
Advertising & Marketing                      59
Banks & Credit Unions                        56
Health Care Services & Hospitals             51
Electrical & Electronic Manufacturing        36
Biotech & Pharmaceuticals                    35
Accounting                                   26
Architectural & Engineering Services         24
Telecommunications Services                  23
Transportation Equipment Manufacturing       22
Insurance Agencies & Brokerages              21
Federal Agencies                             20
Research & Development                       20
Real Estate                                  16
Energy                                       15
Video Games                                  15
Colleges & Universities                      14
Health, Beauty, & Fitness                    13
TV Broadcast & Cable Networks                13
Financial Transaction Processing             12
Financial Analytics & Research               12
Lending                                      11
Oil & Gas Services                           11
Industrial Manufacturing                     10
Logistics & Supply Chain                     10
KNA2 Education                               10
Grocery Stores & Supermarkets                 9
Transportation Management                     9
Food & Beverage Manufacturing                 9
Department, Clothing, & Shoe Stores           8
Wholesale                                     8
Publishing                                    7
Radio                                         7
Construction                                  7
Utilities                                     7
Chemical Manufacturing                        6
Other Retail Stores                           6
Cable, Internet & Telephone Providers         6
Consumer Products Manufacturing               6
Motion Picture Production & Distribution      6
Automotive Parts & Accessories Stores         5
Brokerage Services                            5
Stock Exchanges                               5
Casual Restaurants                            5
Education Training Services                   4
Oil & Gas Exploration & Production            4
Telecommunications Manufacturing              3
Health Care Products Manufacturing            3
News Outlet                                   3
Municipal Governments                         2
Gambling                                      2
Airlines                                      2
Membership Organizations                      2
Sports & Recreation                           2
Beauty & Personal Accessories Stores          2
State & Regional Agencies                     2
Building & Personnel Services                 2
Express Delivery Services                     2
Grantmaking Foundations                       2
Food & Beverage Stores                        2
Hotels, Motels, & Resorts                     2
Convenience Stores & Truck Stops              1
Home Furniture & Housewares Stores            1
Pet & Pet Supplies Stores                     1
Rail                                          1
Trucking                                      1
Legal                                         1
Truck Rental & Leasing                        1
Gas Stations                                  1
Fast-Food & Quick-Service Restaurants         1
Food Production                               1
Music Production & Distribution               1
Photography                                   1
Miscellaneous Manufacturing                   1
Vehicle Dealers                               1
Name: Industry, dtype: int64

In [33]:
industry.dtype

dtype('O')

In [34]:
competition=data_eng["Competitors"].str.replace("-1","NA").astype('object')

In [35]:
competition.dtype

dtype('O')

In [36]:
competition.value_counts()

NA                                                                                      1749
Google, Microsoft, Walmart                                                                28
Boeing, Northrop Grumman, Raytheon Technologies                                           18
Google, Microsoft, Samsung Electronics                                                    18
Cigna, Aetna, UnitedHealth Group                                                          16
Target, Walmart                                                                           14
Microsoft, Apple, Facebook                                                                14
Capgemini, Accenture, Deloitte                                                            12
J.P. Morgan, Wells Fargo, McKinsey & Company                                              12
Progressive Insurance, State Farm, Farmers Insurance Group                                12
Intel Corporation, MediaTek, Broadcom                                                     11
Adecco, Manpower                                                                          10
Applied Materials, KLA, Lam Research                                                       9
Technosoft Inc, Deegit                                                                     9
Northwestern Mutual, State Farm                                                            9
Alcatel-Lucent, Juniper Networks                                                           9
Skyworks Solutions, Hittite Microwave                                                      9
Slalom, Cognizant Technology Solutions, Deloitte                                           8
TEKsystems, Collabera, Artech Information Systems                                          7
Google, Microsoft, Apple                                                                   7
Walt Disney Company, NBCUniversal                                                          7
BMC Software, CA Technologies, Salesforce                                                  7
Soros Fund Management, D. E. Shaw & Co. - Investment Firm, Fortress Investment Group       6
Texas Instruments, Maxim Integrated, Analog Devices                                        6
CBRE, Cushman & Wakefield                                                                  6
Passport Health Communications, Claimlogic                                                 6
Persistent Systems (India), GlobalLogic, Synechron                                         6
TEKsystems, Insight Global, Accenture                                                      6
Robert Half, Insight Global                                                                6
Los Alamos National Laboratory, Battelle, SRI International                                5
AT&T, Verizon                                                                              5
GEICO, MetLife, State Farm                                                                 5
Big O Tires, Les Schwab Tire Centers, Pep Boys                                             5
Thermo Fisher Scientific, Roche                                                            5
Amazon, Accenture, Microsoft                                                               5
Mu Sigma, LatentView Analytics, Fractal                                                    5
AppDynamics, Datadog, Dynatrace                                                            4
J.P. Morgan, Merrill Lynch, Morgan Stanley                                                 4
Artech Information Systems, Mindlance, Tech Mahindra                                       4
Philips, Drive DeVilbiss Healthcare                                                        4
Kforce, Insight Global, Volt Consulting Group                                              4
Capgemini, Slalom, Accenture                                                               4
Trintech                                                                                   3
McKinsey & Company, Bain & Company, Accenture                                              3
American Tower, SBA Communications, TowerCo LLC                                            3
Booz Allen Hamilton, Noblis, Deloitte                                                      3
Medtronic, Roche                                                                           3
NBCUniversal                                                                               3
Ericsson-Worldwide, Huawei Technologies, Microsoft                                         3
Thomson Reuters, International Data Group                                                  3
IBM, Accenture, Booz Allen Hamilton                                                        3
Mediaocean, The Trade Desk, MediaMath                                                      3
Ensighten, Signal                                                                          3
CSC, ManTech, SAIC                                                                         3
Tata Consultancy Services, Accenture, Capgemini                                            3
Aerotek, TEKsystems, HireStrategy                                                          3
Cardinal Health, AmerisourceBergen, UnitedHealth Group                                     3
CUMULUS MEDIA, Entercom, Cox Media Group                                                   3
Pfizer, AstraZeneca, Merck                                                                 3
Commerce Signals, Cardlytics, Yodlee                                                       3
Diageo, Anheuser-Busch InBev, E. & J. Gallo Winery                                         3
Booz Allen Hamilton, CACI International                                                    3
Flexport, Convoy, C.H. Robinson                                                            3
Volvo Group, Blue Bird, Daimler Trucks North America                                       3
Experis                                                                                    3
Top Hat, Flocabulary                                                                       3
Square, Amazon, Apple                                                                      3
Cloudreach, CenturyLink, Cloud Technology Partners                                         3
Revel Systems, Square, Clover                                                              3
Cognizant Technology Solutions, EY, McKinsey & Company                                     3
InsWeb, Insure.com, Answer Financial                                                       3
Accenture, IBM, Infosys                                                                    3
FCA Fiat Chrysler Automobiles, Ford Motor Company, Toyota North America                    3
State Farm, Farmers Insurance Group, Nationwide                                            3
Infosys, Tata Consultancy Services, Wipro                                                  3
AECOM, HDR, Jacobs                                                                         2
Cognizant Technology Solutions, Accenture, IBM                                             2
Sysco, Golden State Foods, Anderson-DuBose                                                 2
GE Digital, Palantir Technologies, Uptake                                                  2
PKG, BDO USA, Armanino                                                                     2
AKQA, Huge, R/GA                                                                           2
Accenture, Deloitte, Avanade                                                               2
Milestone Technologies, Taos, GDH Consulting                                               2
SpotX, FreeWheel, TubeMogul                                                                2
Skyhigh Networks, Zscaler, NortonLifeLock                                                  2
CDW, Softchoice, Insight Global                                                            2
SPR, MATRIX Resources, NueVista                                                            2
WCI Consulting, PwC                                                                        2
Slalom, Hitachi Consulting, Avanade                                                        2
Accenture, Northrop Grumman, Xerox                                                         2
Cubic, Northrop Grumman, General Atomics                                                   2
Northrop Grumman, Lockheed Martin, Raytheon Technologies                                   2
Forsythe Technology, ePlus                                                                 2
Aetna, Humana, WellPoint                                                                   2
USAA, Microsoft, Amazon                                                                    2
Battelle, General Atomics, SAIC                                                            2
Phillips 66, Marathon Petroleum, HollyFrontier Corporation                                 2
Cloudera, IBM, Oracle                                                                      2
Merkle                                                                                     2
Aquent, 24 Seven Talent                                                                    2
Mindlance, Artech Information Systems, Pyramid Consulting                                  2
Marcus & Millichap, Walker & Dunlop, HFF                                                   2
Dropbox, M-Files                                                                           2
Caesars Entertainment, MGM Resorts International                                           2
Raymond James Financial                                                                    2
TEKsystems, Artech Information Systems, PDS Tech                                           2
Randstad US, Labor Finders                                                                 2
Randstad, Kelly                                                                            2
Macy's, Kohl's, Dillard's                                                                  2
Steelcase, Herman Miller                                                                   2
FDIC, Office of the Comptroller of the Currency, SEC                                       2
Adecco, Kforce                                                                             2
Snapfish, Vistaprint, Minted                                                               2
First Republic Bank, Comerica                                                              2
MuleSoft, Informatica                                                                      2
Broadridge, Intralinks                                                                     2
Amazon, PwC, McKinsey & Company                                                            2
Achievers, Workhuman                                                                       2
Optiver, Susquehanna International Group (SIG), Citadel                                    2
DoorDash                                                                                   2
Optiver, Citadel, DRW                                                                      2
Granular, Intuit, John Deere                                                               2
Collabera, Mitchell Martin, The Judge Group                                                2
FireEye, Zscaler, Palo Alto Networks                                                       2
Attain, Deloitte, Booz Allen Hamilton                                                      2
PayPal, American Express, Visa Inc.                                                        2
Cirrus Logic, NXP Semiconductors, Texas Instruments                                        2
PwC, Deloitte, EY                                                                          2
Serco Group, AMSEC, DynCorp International                                                  2
Johnson & Johnson, Boston Scientific, Stryker                                              2
Intel Corporation, Imagination Technologies, NXP Semiconductors                            2
AgilOne, IBM                                                                               2
Qualcomm, Intel Corporation, AMD                                                           2
Rocket Lawyer, LawDepot                                                                    2
Rackspace Technology, SoftLayer, Equinix                                                   2
Adobe, Akamai, Oracle                                                                      2
Experian, Equifax                                                                          2
UCLA Health, City of Hope, Keck Medicine of USC                                            2
Kforce, NTT DATA, IBM                                                                      2
eHealth, Anthem                                                                            2
Microsoft, McAfee, Trend Micro                                                             2
Facebook, Google, Pinterest                                                                2
GitHub                                                                                     2
Citrix, VMware, Juniper Networks                                                           2
Emerson, ABB, Siemens                                                                      2
Boston Consulting Group, Bain & Company, Strategy&                                         2
Travelers, Chubb, Crum & Forster                                                           2
ICE, CME Group, Cboe Global Markets                                                        2
Brightedge Technologies, Moz, seoClarity                                                   2
Bechtel Jacobs, Black & Veatch, HNTB                                                       2
Infosys, Accenture, Capgemini                                                              2
Crossix Solutions Inc., AppNexus, The Trade Desk                                           2
Sharp HealthCare, Scripps Health                                                           1
STS Aviation, Strom Aviation, Aerotek                                                      1
Northrop Grumman, Raytheon Technologies, Lockheed Martin                                   1
Delta Air Lines, United Airlines, Southwest Airlines                                       1
McKinsey & Company, Bain & Company, Boston Consulting Group                                1
Amazon, One Kings Lane, Crate and Barrel                                                   1
American Express, Mastercard, Discover                                                     1
RedBrick Health, Tivity Health                                                             1
Google, Microsoft, Amazon                                                                  1
Fiserv, First Data, Jack Henry & Associates                                                1
Aerotek, Yoh, Randstad US                                                                  1
Hess Corporation, QuikTrip, Couche-Tard                                                    1
PPD, Parexel, IQVIA                                                                        1
Givaudan, Firmenich, Symrise                                                               1
Net4Site                                                                                   1
Salesforce, Boston Consulting Group, ZS Associates                                         1
Abbott, Siemens, Baxter                                                                    1
Wells Fargo, GE Capital, Citi                                                              1
Fiserv, FIS                                                                                1
Penske, Schneider Corporation                                                              1
CBRE, JLL                                                                                  1
Astroturf, Sprinturf, FIELDTURF USA                                                        1
Advantage Solutions, CROSSMARK                                                             1
Black & Veatch, Burns & McDonnell, AECOM                                                   1
TEKsystems, Robert Half                                                                    1
Audi, BMW, Mercedes-Benz International                                                     1
Oracle, IBM, One World Identity                                                            1
Liberty Mutual Insurance, EMPLOYERS, Travelers                                             1
Sony, LG Electronics, Nokia                                                                1
F5 Networks, Checkpoint Technologies, Cloudflare                                           1
ObserveIT, Forcepoint                                                                      1
Accenture, Deloitte, IBM                                                                   1
Mirror Image Internet, Limelight Networks                                                  1
Comcast, Spectrum Comm, Windstream                                                         1
Kforce, Mitchell Martin, Insight Global                                                    1
Edelman, Burson-Marsteller, Weber Shandwick                                                1
Mentor Graphics, Synopsys                                                                  1
Riot Games, Google, Activision Blizzard                                                    1
Zillow, Trulia, Redfin                                                                     1
Kroger, Walmart                                                                            1
Elekta, Varian Medical Systems                                                             1
SAP, Oracle, Ultimate Software                                                             1
XP Power, Lam Research, Applied Materials                                                  1
Luxoft, EPAM, Capgemini Invent                                                             1
Seagate Technology, Toshiba                                                                1
Mindtree, Happiest Minds Technologies, Altran Americas                                     1
J. C. Penney, Target, Macy's                                                               1
Quicken Loans, LendingClub, SoFi                                                           1
Medtronic, Boston Scientific                                                               1
Blackbaud, Network for Good, RallyBound                                                    1
Fidelity Investments, UBS, Morgan Stanley                                                  1
Shopify, Volusion                                                                          1
Wipro, Infosys, HCL Technologies                                                           1
Automatic, Mojio, Verizon Telematics                                                       1
Talkwalker, Business Wire, Brandwatch                                                      1
AQR Capital Management, BlackRock, PIMCO                                                   1
Digital Realty, CoreSite, Equinix                                                          1
Health Catalyst                                                                            1
ShipWorks, Ordoro, Shippo                                                                  1
projekt202, IDEO                                                                           1
Intuit                                                                                     1
Salesforce, Localytics, Mixpanel                                                           1
Dealertrack, VinSolutions, CDK Global                                                      1

In [37]:
data_eng.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2528 entries, 0 to 2527
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          2528 non-null   object
 1   Salary Estimate    2528 non-null   object
 2   Job Description    2528 non-null   object
 3   Rating             2528 non-null   float64
 4   Company Name       2528 non-null   object
 5   Location           2528 non-null   object
 6   Headquarters       2528 non-null   object
 7   Size               2528 non-null   object
 8   Founded            2528 non-null   int64
 9   Type of ownership  2528 non-null   object
 10  Industry           2528 non-null   object
 11  Sector             2528 non-null   object
 12  Revenue            2528 non-null   object
 13  Competitors        2528 non-null   object
 14  Easy Apply         2528 non-null   object
 15  Min Salary         2528 non-null   float64
 16  Max Salary         2528 non-null   float64
 17  company            2528 non-null   object
 18  N                  2294 non-null   object
dtypes: float64(3), int64(1), object(15)
memory usage: 375.4+ KB

In [38]:
data_eng.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Min Salary,Max Salary,company,N
0,Data Engineer,$80K-$150K (Glassdoor est.),Company Description\nSagence is a management a...,4.5,Sagence\n4.5,"New York, NY","Chicago, IL",1 to 50 employees,2009,Company - Private,Consulting,Business Services,$10 to $25 million (USD),"WCI Consulting, PwC",-1,80.0,150.0,Sagence,4.5
1,Senior Data Engineer (Healthcare Domain experi...,$80K-$150K (Glassdoor est.),"Key Responsibilities\n\n- Architect, build, an...",3.4,Enterprise Integration\n3.4,"New York, NY","Jacksonville, FL",51 to 200 employees,1998,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),-1,-1,80.0,150.0,Enterprise Integration,3.4
2,Data Engineers,$80K-$150K (Glassdoor est.),Overview\n\nJob description\n\nPosition Overvi...,5.0,Maestro Technologies\n5.0,"New York, NY","Trenton, NJ",51 to 200 employees,2003,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),-1,-1,80.0,150.0,Maestro Technologies,5.0
3,Client Trade Support Engineer,$80K-$150K (Glassdoor est.),About the Position\n\n\nThis position will sup...,4.8,Jane Street\n4.8,"New York, NY","New York, NY",501 to 1000 employees,2000,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1,80.0,150.0,Jane Street,4.8
4,Data Engineer,$80K-$150K (Glassdoor est.),Data Engineer\n\nJob Details\nLevel\nExperienc...,3.7,GNY Insurance Companies\n3.7,"New York, NY","New York, NY",201 to 500 employees,1914,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),"Travelers, Chubb, Crum & Forster",True,80.0,150.0,GNY Insurance Companies,3.7

In [39]:
job_description=data_eng["Job Description"].str.replace("\n","", regex=True)

In [36]:
job_description.dtype

dtype('O')

In [40]:
type_of_ownership=data_eng["Type of ownership"].replace(-1,"NA").astype('category')

In [41]:
data_eng.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Min Salary,Max Salary,company,N
0,Data Engineer,$80K-$150K (Glassdoor est.),Company Description\nSagence is a management a...,4.5,Sagence\n4.5,"New York, NY","Chicago, IL",1 to 50 employees,2009,Company - Private,Consulting,Business Services,$10 to $25 million (USD),"WCI Consulting, PwC",-1,80.0,150.0,Sagence,4.5
1,Senior Data Engineer (Healthcare Domain experi...,$80K-$150K (Glassdoor est.),"Key Responsibilities\n\n- Architect, build, an...",3.4,Enterprise Integration\n3.4,"New York, NY","Jacksonville, FL",51 to 200 employees,1998,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),-1,-1,80.0,150.0,Enterprise Integration,3.4
2,Data Engineers,$80K-$150K (Glassdoor est.),Overview\n\nJob description\n\nPosition Overvi...,5.0,Maestro Technologies\n5.0,"New York, NY","Trenton, NJ",51 to 200 employees,2003,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),-1,-1,80.0,150.0,Maestro Technologies,5.0
3,Client Trade Support Engineer,$80K-$150K (Glassdoor est.),About the Position\n\n\nThis position will sup...,4.8,Jane Street\n4.8,"New York, NY","New York, NY",501 to 1000 employees,2000,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1,80.0,150.0,Jane Street,4.8
4,Data Engineer,$80K-$150K (Glassdoor est.),Data Engineer\n\nJob Details\nLevel\nExperienc...,3.7,GNY Insurance Companies\n3.7,"New York, NY","New York, NY",201 to 500 employees,1914,Company - Private,Insurance Carriers,Insurance,$100 to $500 million (USD),"Travelers, Chubb, Crum & Forster",True,80.0,150.0,GNY Insurance Companies,3.7

In [42]:
filtered=data_eng.drop(columns=["Job Title","Salary Estimate","Job Description","Company Name","Headquarters","Founded", "Type of ownership", "Industry","Sector", "Revenue","Competitors","Easy Apply","N"])

In [44]:
filtered.head()

,Rating,Location,Size,Min Salary,Max Salary,company
0,4.5,"New York, NY",1 to 50 employees,80.0,150.0,Sagence
1,3.4,"New York, NY",51 to 200 employees,80.0,150.0,Enterprise Integration
2,5.0,"New York, NY",51 to 200 employees,80.0,150.0,Maestro Technologies
3,4.8,"New York, NY",501 to 1000 employees,80.0,150.0,Jane Street
4,3.7,"New York, NY",201 to 500 employees,80.0,150.0,GNY Insurance Companies

In [41]:
type(sector)

pandas.core.series.Series

In [45]:
cleaned_columns=pd.concat([sector,competition,revenue,easy_apply,industry,job_title,job_description,founded,headquarters,type_of_ownership], axis=1)

In [46]:
cleaned_columns.head()

,Sector,Competitors,Revenue,Easy Apply,Industry,Job Title,Job Description,Founded,Headquarters,Type of ownership
0,Business Services,"WCI Consulting, PwC",$10 to $25 million (USD),False,Consulting,Data Engineer,Company DescriptionSagence is a management adv...,2009,"Chicago, IL",Company - Private
1,Information Technology,NA,$25 to $50 million (USD),False,IT Services,Senior Data Engineer (Healthcare Domain experi...,"Key Responsibilities- Architect, build, and ma...",1998,"Jacksonville, FL",Company - Private
2,Information Technology,NA,$5 to $10 million (USD),False,IT Services,Data Engineers,OverviewJob descriptionPosition Overview:Seeki...,2003,"Trenton, NJ",Company - Private
3,Finance,NA,0,False,Investment Banking & Asset Management,Client Trade Support Engineer,About the PositionThis position will support J...,2000,"New York, NY",Company - Private
4,Insurance,"Travelers, Chubb, Crum & Forster",$100 to $500 million (USD),True,Insurance Carriers,Data Engineer,Data EngineerJob DetailsLevelExperiencedJob Lo...,1914,"New York, NY",Company - Private

In [47]:
cleaned_data_eng=pd.concat([cleaned_columns,filtered], axis=1)

In [48]:
cleaned_data_eng.head()

,Sector,Competitors,Revenue,Easy Apply,Industry,Job Title,Job Description,Founded,Headquarters,Type of ownership,Rating,Location,Size,Min Salary,Max Salary,company
0,Business Services,"WCI Consulting, PwC",$10 to $25 million (USD),False,Consulting,Data Engineer,Company DescriptionSagence is a management adv...,2009,"Chicago, IL",Company - Private,4.5,"New York, NY",1 to 50 employees,80.0,150.0,Sagence
1,Information Technology,NA,$25 to $50 million (USD),False,IT Services,Senior Data Engineer (Healthcare Domain experi...,"Key Responsibilities- Architect, build, and ma...",1998,"Jacksonville, FL",Company - Private,3.4,"New York, NY",51 to 200 employees,80.0,150.0,Enterprise Integration
2,Information Technology,NA,$5 to $10 million (USD),False,IT Services,Data Engineers,OverviewJob descriptionPosition Overview:Seeki...,2003,"Trenton, NJ",Company - Private,5.0,"New York, NY",51 to 200 employees,80.0,150.0,Maestro Technologies
3,Finance,NA,0,False,Investment Banking & Asset Management,Client Trade Support Engineer,About the PositionThis position will support J...,2000,"New York, NY",Company - Private,4.8,"New York, NY",501 to 1000 employees,80.0,150.0,Jane Street
4,Insurance,"Travelers, Chubb, Crum & Forster",$100 to $500 million (USD),True,Insurance Carriers,Data Engineer,Data EngineerJob DetailsLevelExperiencedJob Lo...,1914,"New York, NY",Company - Private,3.7,"New York, NY",201 to 500 employees,80.0,150.0,GNY Insurance Companies

#### FIFA DATASET

In [ ]:
FIFA.info()

In [ ]:
FIFA["Contract Valid Until"].head()

In [ ]:
FIFA_1=FIFA[["Name","Age","Potential","Overall","Potential","Club","Wage","Special","International Reputation","Stamina","Strength","SprintSpeed","Vision","Finishing","Release Clause"]]

In [ ]:
FIFA_1.info()

In [ ]:
FIFA_1.head()

In [ ]:
FIFA_1.info()

In [ ]:
FIFA_1["Special"].value_counts()

In [ ]:
FIFA_1.drop(columns=["Special"])

In [ ]:
FIFA_2=FIFA_1.drop(columns=["Special"])

In [ ]:
FIFA_2.info()

In [ ]:
FIFA_2[["Wage","Release Clause"]]

In [ ]:
FIFA_2["Release Clause"].unique()

In [ ]:
FIFA_2["Release Clause"] = (FIFA_2["Release Clause"]
                    .str.replace("(\..M)","000000",regex = True)
                    .str.replace("M","000000", regex = False)
                    .str.replace("K","000",regex = False)
                    .str.replace("€","",regex = False)
                    .dropna()
                    .astype(int)
                    
                    
                    
                 
)


FIFA_2["Wage"] = (FIFA_2["Wage"]
                    .str.replace("(\..M)","000000",regex = True)
                    .str.replace("M","000000", regex = False)                  
                    .str.replace("K","000",regex = False)
                    .str.replace("€","",regex = False)
                    .dropna()
                    .astype(int)
                    
                 
)

In [ ]:
FIFA_2.info()

In [ ]:
FIFA_2.info()

In [ ]:
FIFA_2[["Wage","Release Clause"]]

In [ ]:
FIFA_2.info()

In [ ]:
Release_Clause_2=FIFA_2["Release Clause"].str.replace("M","000000").str.replace("€","").str.replace("K","000").str.replace(",","").str.replace("€","").str.replace("K","000").str.replace(".","").str.replace("Nan","")

In [ ]:
Release_Clause.value_counts()

In [ ]:
FIFA_2["Release Clause"].value_counts()

In [ ]:
FIFA_2.head()

##### OOP WITH PANDAS

In [ ]:
def load_DE_data(dataset):
    import pandas as pd
    return pd.read_csv(dataset)

In [ ]:
class Data:
    def __init__(self, dataset):
        import pandas as pd
        self.dataset = dataset 
    
    def df(self):
        return pd.read_csv(self.dataset)

In [ ]:

class Data:
    category = "Data Type"
    #using class methods to create object
    @classmethod
    def create_dataset(cls, dataset):
        return cls(dataset)
    
    @classmethod
    
    def __init__(self, dataset):
        self.dataset=dataset
        
    def load_data(self):
        import pandas as pd
        return pd.read_csv(self.dataset)
    
    
    def EDA(self):
        import pandas as pd
        info=pd.read_csv(self.dataset)

In [ ]:
de=Data.create_dataset("C:/Users/ACER/Desktop/blossom data/DataEngineer.csv")

In [ ]:
Data.create_dataset("C:/Users/ACER/Desktop/blossom data/DataEngineer.csv")

In [ ]:
de.load_data()["Revenue"].value_counts()

In [ ]:
de.EDA()